# <center> Normalization </center>

##### Normalization is a feature scaling technique that transforms data so that all the feature values lie in the specific range.

#### <u>MinMax Scaling </u>

##### - Range -> [0,1]

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv('placement.csv')
data.sample(3)

    Unnamed: 0  cgpa     iq  placement
31          31   3.9  109.0          0
39          39   4.6  146.0          0
35          35   6.8   90.0          1

In [7]:
data = data.iloc[:,1:]
data.sample(3)

    cgpa     iq  placement
63   6.3  128.0          1
62   6.0  102.0          0
72   7.3  116.0          1

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, Y_test = train_test_split(data.drop('placement',axis=1),data.placement, test_size=0.2, random_state=42)

print(X_train.shape)
print(X_test.shape)

(80, 2)
(20, 2)

In [21]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

X_train_scaled = pd.DataFrame(X_train_scaled,  columns = X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns= X_test.columns)

np.round(X_train_scaled.sample(3),1)

    cgpa   iq
15   0.7  0.1
28   0.5  0.3
75   0.7  0.5

In [22]:
np.round(X_train_scaled.describe(),1)

       cgpa    iq
count  80.0  80.0
mean    0.5   0.5
std     0.2   0.2
min     0.0   0.0
25%     0.3   0.3
50%     0.5   0.5
75%     0.7   0.6
max     1.0   1.0

##### <br> <u><h4> Mean Normalization </h4></u>
Mean Centering - 0     <br>
Range-> [-1,1] <br>
We have to use this if we need centered data. Alternatively, for center data, we can use standardization also.
Hence, there is minimal use of mean normalization.

##### <br> <u><h4> MaxAbs Normalization </h4></u>
If there is high number of zeros in the input, then it is better to use MaxAbs Normalization.

##### <br> <u><h4> Robust Normalization </h4></u>
If your data has a lot of outliers, then it is said that using robust normalization will give high accuracy result.

### Normalization vs Standardization
<br>
1) Is feature scaling required?-> If you are working with decision tree, feature scaling won't be required.<br>
2) Mostly used Standardization. <br>
3) MinMax Scaling: if you know min and max value then use it like image processing, CNN [0-255]