## <center> Standardization </center>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("placement.csv")
df.sample(5)

    Unnamed: 0  cgpa     iq  placement
45          45   6.0   66.0          1
68          68   4.0   75.0          0
31          31   3.9  109.0          0
5            5   7.1   48.0          1
34          34   4.8  163.0          0

In [3]:
df.sample(5)

    Unnamed: 0  cgpa     iq  placement
52          52   7.0  175.0          1
86          86   5.1  128.0          0
88          88   4.4  149.0          0
71          71   6.1  132.0          1
78          78   6.1   81.0          0

##### Train test split

In [9]:
df=df.iloc[:,1:]

In [10]:
from sklearn.model_selection import train_test_split
#X_train, X_test, Y_train, Y_test = train_test_split(df.iloc[:,1:3], df.iloc[:,-1], test_size=0.3, random_state=0)
X_train, X_test, Y_train, Y_test = train_test_split(df.drop('placement', axis=1), df['placement'], test_size=0.3, random_state=42)

#### Standard Scaler  - standardization

In [11]:
X_train

    cgpa     iq
11   6.9  138.0
47   5.2  161.0
85   5.8  166.0
28   5.2   90.0
93   6.8  112.0
..   ...    ...
60   6.9  139.0
71   6.1  132.0
14   6.1  103.0
92   5.2  110.0
51   4.8  141.0

[70 rows x 2 columns]

In [13]:
Y_train

11    1
47    0
85    1
28    0
93    1
     ..
60    1
71    1
14    0
92    0
51    0
Name: placement, Length: 70, dtype: int64

In [22]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled= scaler.transform(X_test)

In [23]:
scaler.mean_

array([  5.95857143, 126.45714286])

In [24]:
# after stardardscaling we will get numpy array
# hence converting numpy arrays into pandas dataframe

X_train_scaled = pd.DataFrame(X_train_scaled, columns = X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns = X_test.columns)
#without columns we will get 0 and 1 as columns , columns just give name to the column

In [25]:
X_train_scaled

        cgpa        iq
0   0.911881  0.302497
1  -0.734763  0.905245
2  -0.153595  1.036277
3  -0.734763 -0.955412
4   0.815020 -0.378870
..       ...       ...
65  0.911881  0.328704
66  0.136990  0.145258
67  0.136990 -0.614728
68 -0.734763 -0.431283
69 -1.122209  0.381116

[70 rows x 2 columns]

In [29]:
X_train.describe()

            cgpa          iq
count  70.000000   70.000000
mean    5.958571  126.457143
std     1.039857   38.434090
min     3.300000   37.000000
25%     5.200000  103.750000
50%     6.100000  129.000000
75%     6.775000  150.500000
max     8.100000  233.000000

In [28]:
# X_train.describe() -> gives around 7 8 digits after decimal
# hence we use the round 
np.round(X_train_scaled.describe(),1)

       cgpa    iq
count  70.0  70.0
mean   -0.0   0.0
std     1.0   1.0
min    -2.6  -2.3
25%    -0.7  -0.6
50%     0.1   0.1
75%     0.8   0.6
max     2.1   2.8

##### scaling successful, check the mean and the standard deviation

##### the nature of the graph doesn't change on scaling the data

### Why scaling data

##### It is necessary to be done while doing the logistic regression 
scaling the data increase the accuracy in logistic regression , but no effect will be seen in the decision tree

####  use standardization in 
- K nearest neighbours
- K means
- Principal Component Analysis
- Artificial Neural Network
- Gradient Descent